<!-- Generated template for the MessagesComponent component -->

<h5 class="movsic-title">Message List</h5>

<ion-card>
	<ion-item>
	  <ion-avatar item-start>
		<img src="assets/imgs/avatar.jpg">
	  </ion-avatar>
	  <p>Tony</p>
	  <p>November 17, 2017</p>
	</ion-item>
	<ion-card-content>
	  <p style="color:#fff;"> 
	  I like your favourate music list so I followed you! :) Hope to talk with you.
	  </p>
	</ion-card-content>
</ion-card>

<ion-card>
	<ion-item>
	  <ion-avatar item-start>
		<img src="assets/imgs/avatar1.jpg">
	  </ion-avatar>
	  <p>Amy Chang</p>
	  <p>November 16, 2017</p>
	</ion-item>
	<ion-card-content>
	  <p style="color:#fff;"> 
	  Amy gives a like to your song list "Movie"!
	  </p>
	</ion-card-content>
</ion-card>

<ion-card>
	<ion-item>
	  <ion-avatar item-start>
		<img src="assets/imgs/movsic.jpg">
	  </ion-avatar>
	  <p>Movsic Offcial</p>
	  <p>November 12, 2017</p>
	</ion-item>
	<ion-card-content>
	  <p style="color:#fff;"> 
	  Welcome to Movsic! Join us and enjoy the music!
	  </p>
	</ion-card-content>
</ion-card>

