<!-- Generated template for the MessagesComponent component -->
<h5 class="movsic-title">Message List</h5>
<ion-grid>

<div class="card">
  <div class="item item-divider">
    From Tony,
  </div>
  <div class="item item-text-wrap">
    Tony followed you!
  </div>
  <div class="item item-divider">
    2017-11-12
  </div>
</div>
</ion-grid>
<hr>

<ion-grid>
<div class="card">
  <div class="item item-divider">
    From Amy,
  </div>
  <div class="item item-text-wrap">
    Amy followed you!
  </div>
  <div class="item item-divider">
    2017-11-05
  </div>
</div>
</ion-grid>

<ion-grid>
<div class="card">
  <div class="item item-divider">
    From Movsic,
  </div>
  <div class="item item-text-wrap">
    Welcome to Movsic! Join us and enjoy the music!
  </div>
  <div class="item item-divider">
    2017-10-15
  </div>
</div>
</ion-grid>
<hr>
