<h5 class="movsic-title">Saved movie soundtracks</h5>

<div class="home-soundtrack-list">
  <div class="movie-card" *ngFor="let soundtrack of savedMovieSoundtracks">
    <img class="movie-card-img" (click)="goToSoundtrack(soundtrack)" src="{{soundtrack.img_url}}"/>
    <div class="movie-card-info">
      <p>{{soundtrack.name}}</p>
      <small>{{soundtrack.composors[0].name}}</small>
      <!--Too many mame it's too hard to display
      span class="composor-names" *ngFor="let composor of soundtrack.composors">
        <a>{{composor.name}}</a>,
      </span-->
    </div>
  </div>
</div>


<!--h5 class="movsic-title">Saved movies</h5>
<div style="overflow-x: auto;padding-bottom:5px;">
  <div style="width:400px;height:220px;">
	<div class="mgt30">
	  <ion-grid>
		<ion-row>
		  <ion-col col-6>
			<div class="movie-card" style="width:180px;height:160px;">
			  <img class="movie-card-img" src="assets/imgs/harry.png"/>
			  <div class="movie-card-info">
				<p>Harry Potter</p>
				<small>
				  John Williams
				</small>
			  </div>
			</div>
		  </ion-col>

		  <ion-col col-6>
			<div class="movie-card">
			  <img class="movie-card-img" src="assets/imgs/jaws.png"/>
			  <div class="movie-card-info">
				<p>Jaws</p>
				<small>
				  John Williams
				</small>
			  </div>
			</div>
		  </ion-col>

		</ion-row>
	  </ion-grid>
	</div>
  </div>
</div-->
