<!-- Generated template for the ExploreRecomComponent component -->
<div>
  <h4  class="movsic-title">Recommendation</h4>
  <ion-card>
  <img src="assets/imgs/cover3.jpg"/>
  <ion-card-content>
    <ion-card-title>
      <h1 style="color:white;"><strong>The Revenant(2015)</strong></h1>
    </ion-card-title>
	<h2 style="color:white;"><strong>Director</strong>: Alejandro González Iñárritu</h2>
	<h2 style="color:white;"><strong>Writers</strong>: Mark L. Smith, Alejandro González Iñárritu</h2>
    <p style="color:white;">
      In 1823, Hugh Glass guides Andrew Henry’s trappers through unorganized territory. 
	  While he and his half-Pawnee son, Hawk, are hunting, the company's camp is attacked
	  by an Arikara war party. Guided by Glass, the survivors travel on foot
	  to Fort Kiowa, as traveling downriver will make them vulnerable. 
	  Glass fights for survival
	  after being mauled badly by a grizly bear and 
	  left for dead by members of his own hunting team.
	  Unexpectedly, Glass actually miraculously survived. 
	  After this painful wild experience, he began his revenge plan.
    </p>
  </ion-card-content>
</ion-card>
<ion-card>
  <img src="assets/imgs/revenant.jpg"/>
  </ion-card>
</div>
