<!-- Generated template for the SoundtrackRecommendComponent component -->
<h5 class="movsic-title center">Soundtracks for you</h5>
<!--
  TODO: 1. Replace the below content with real fetched content from API.
  Create a new components for the movie items!
  2. Slide effect
-->
<ion-grid>
  <ion-row class="center">
    <button ion-button class="movsic-tag">Movies</button>
    <button ion-button class="movsic-tag">TV</button>
  </ion-row>
  <ion-row>
    <ion-col col-6>
      <div class="movie-card">
        <img class="movie-card-img" src="assets/imgs/harry.png"/>
        <div class="movie-card-info">
          <p>Harry Potter</p>
          <small>
            John Williams
          </small>
        </div>
      </div>
    </ion-col>

    <ion-col col-6>
      <div class="movie-card">
        <img class="movie-card-img" src="assets/imgs/jaws.png"/>
        <div class="movie-card-info">
          <p>Jaws</p>
          <small>
            John Williams
          </small>
        </div>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>
