<!-- Generated template for the SoundtrackRecommendComponent component -->
<h5 class="movsic-title center">Soundtracks for you</h5>
<!--
  TODO: 1. Replace the below content with real fetched content from API.
  Create a new components for the movie items!
  2. Slide effect
-->
<div class="home-soundtrack-list">
  <div class="movie-card" *ngFor="let soundtrack of recSoundtracks">
    <img class="movie-card-img" src="{{soundtrack.img_url}}"/>
    <div class="movie-card-info">
      <p>{{soundtrack.name}}</p>
      <small>{{soundtrack.composors[0].name}}</small>
      <!--Too many mame it's too hard to display
      span class="composor-names" *ngFor="let composor of soundtrack.composors">
        <a>{{composor.name}}</a>,
      </span-->
    </div>
  </div>
</div>
