page-home {
  ion-title{
    height: 10%;
    background-color: $toolbar-background;
  }
  ion-content{
    position: static;
    top: 140px;
    height: 80%;
  }

}
.home-navbar{

}
.home-title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
  font-size: 1.4em !important;
}
