<!-- Generated template for the ExploreCardsComponent component -->

<h5 class="movsic-title">Popular Sharing</h5>
<div class="list card">
  <div class="item item-avatar">
    <h2>The Revenant </h2>
    <a style="color:white;">Ryuichi Sakamoto</a>
  </div>
  <div class="item item-image center mgt30" style="width: 70%;">
    <a [navPush]="recomPage" ><img src="assets/imgs/cover3.png"></a>
  </div>
</div>


<div class="list card">
  <div class="item item-avatar">
    <ion-avatar >
      <!-- <img class="circle left" height="30" width="30" src="assets/imgs/avatar.jpg">-->
	  </ion-avatar>
    <h2>Angel of the Morning</h2>
    <p>Juice Newton</p>
  </div>
  <div class="item item-image">
    <a  (click)="goToMovie()"><img src="assets/imgs/cover.jpg"/></a>
  </div>
</div>


<div class="list card">

  <div class="item item-avatar">
	<ion-avatar >
      <!-- <img class="circle left" height="30" width="30" src="assets/imgs/avatar.jpg">-->
	</ion-avatar>
    <h2>Nostalgia</h2>
    <p>Joe Hisaishi</p>
  </div>
  <div class="item item-image">
    <a  href="#"><img height="220" width="220" src="assets/imgs/cover1.jpg"/></a>
  </div>
</div>
<div class="list card">
  <div class="ion-item ion-item-avatar">
    <ion-avatar >
      <!-- <img class="circle left" height="30" width="30" src="assets/imgs/avatar.jpg">-->
	</ion-avatar>
    <h2>La La Land </h2>
    <p>Justin Hurwitz</p>
  </div>
  <div class="item item-image">
    <a  href="#"><img height="220" width="220" src="assets/imgs/cover2.jpg"/></a>
  </div>
</div>
<hr>
