<!-- Generated template for the ExploreCardsComponent component -->
<h5 class="movsic-title">Popular Sharing</h5>
<div class="list card">
  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>The Revenant </h2>
    <a style="color:white;">Ryuichi Sakamoto</a>
  </div>
  <div class="item item-image center mgt30" style="width: 70%;">
    <a  (click)="goToMovie()"><img src="assets/imgs/cover3.png"></a>
  </div>
</div>
<div class="list card">
  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>
  <div class="item item-image">
    <a  (click)="goToMovie()"><img src="assets/imgs/cover.jpg"/></a>
  </div>
</div>
<div class="list card">
  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Nostalgia</h2>
    <p>Joe Hisaishi</p>
  </div>
  <div class="item item-image">
    <a  href="#"><img src="assets/imgs/cover1.jpg"/></a>
  </div>
</div>
<div class="list card">
  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>La La Land </h2>
    <p>Justin Hurwitz</p>
  </div>
  <div class="item item-image">
    <a  href="#"><img src="assets/imgs/cover2.jpg"/></a>
  </div>
</div>
