<!-- Generated template for the MovieTrackComponent component -->
<ion-list>
  <ion-item>
    <ion-row>
      <ion-col col-8>
        <h5>The Revenant Main Theme</h5>
        <p>Ryuichi Sakamoto</p>
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-1>
        <ion-icon name="heart" color="primary"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="arrow-down" color="primary"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col col-8>
        <h5>Hawk Punished</h5>
        <p>Alva Noto& Dessner</p>
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-1>
        <ion-icon name="heart" color="primary"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="arrow-down" color="primary"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col col-8>
        <h5>Carring Glass</h5>
        <p>Ryuichi Sakamoto&Alva Noto</p>
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-1>
        <ion-icon name="heart" color="primary"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="arrow-down" color="primary"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col col-8>
        <h5>First Dream</h5>
        <p>Ryuichi Sakamoto&Alva Noto</p>
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-1>
        <ion-icon name="heart" color="primary"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="arrow-down" color="primary"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col col-8>
        <h5>Killing Hawk</h5>
        <p>Ryuichi Sakamoto&Alva Noto</p>
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-1>
        <ion-icon name="heart" color="primary"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="arrow-down" color="primary"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-list>
