<!-- Generated template for the CommonInterestComponent component -->
<div>
  <h5 class="movsic-title center">Commonly Liked Soundtracks</h5>
  <div style="overflow: auto;padding-bottom:5px;">
    <div style="width:400px;height:180px;">
	  <div class="mgt30">
	    <ion-grid>
		  <ion-row>
		    <ion-col col-6>
			  <div class="movie-card">
			    <img class="movie-card-img" src="assets/imgs/jaws.png"/>
			    <div class="movie-card-info">
				  <p>Jaws</p>
				  <small>
				    John Williams
				  </small>
			    </div>
			  </div>
		    </ion-col>
		  </ion-row>
	    </ion-grid>
	  </div>
    </div> 
  </div>
  <h5 class="movsic-title center">Commonly Liked Artists</h5>
  <div style="overflow: auto;padding-bottom:5px;">
    <div style="width:400px;height:180px;">
	  <div class="mgt30">		
	    <ion-grid>
		  <ion-row>
		    <ion-col col-4>
			  <div class="artist-item center">
		  	    <ion-avatar class="center">
				  <img class="circle" height="80" width="80" src="assets/imgs/composors/john.png"/>
			    </ion-avatar>
			    <p>
				  John Williams
		    	</p>
			  </div>
	  	    </ion-col>
		  </ion-row>
	    </ion-grid>
	  </div>
    </div> 
  </div>
</div>
