// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Serve as global custom.scss.
.mgt10{ margin-top: 10px; }
.mgt20{ margin-top: 20px; }
.mgt30{ margin-top: 30px; }
.mgt40{ margin-top: 40px; }
.mgt60{ margin-top: 60px; }


.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.circle{
  -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.movsic-title{
  color: #FF5E24;
  font-weight: 400;
}
.movsic-tag{
  //button for movie/tv filter
  background-color: #353535;
  color: #BABABA;
  font-size: 0.8em;
  height: 30px;
  border-radius: 12px;
}

.movie-card{
  height: 200px;
  width: 180px;
  margin-right: 25px;

  .movie-card-img{
    width: 120px;
    height: 120px;
  }
  .movie-card-info{
    line-height: 1;
    p{
      word-wrap: break-word;
      white-space: pre-wrap;
      overflow: hidden;
      line-height: 1.2;
      //text-overflow:ellipsis;
      font-weight: 300;
      width: 120px;

      margin-top: 4px;
      margin-bottom: 2px;
      font-size: 0.8em;
    }
    small{
      padding-top: 2px;
      color: grey;
    }
    .composor-names{
      display: block;
      width: 140px;
      height: 20px;
      white-space:nowrap;
      overflow: hidden;
      text-overflow: clip;
      line-height: 1.5;
      a{
        color: grey;
      }
      font-size: 0.8em;
    }
  }
}

.artist-avatar{
  width: 80px;
  height: 80px;
  background-size: cover;
}

body.keyboard-is-open ion-tabbar {
  display: none;
}

body.keyboard-is-open scroll-content {
  margin-bottom: 0 !important;
}
