<!-- Generated template for the ArtistRecommendComponent component -->
<h5 class="movsic-title center">Artists for you</h5>
<ion-grid>
  <ion-row>
    <ion-col col-4 *ngFor="let artist of recArtists">
      <div class="artist-item">
        <!--TODO: artist pages with id -->
        <ion-avatar (click)="goToArtist()">
            <div class="circle artist-avatar"
            [ngStyle]="{'background-image':'url('+ artist.img_url +')'}">
            </div>
        </ion-avatar>
        <p>{{artist.name}}</p>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>
