<!-- Generated template for the SavedArtistsComponent component -->
<!-- Generated template for the ArtistRecommendComponent component -->
<h5 class="movsic-title">Saved Artists</h5>
<ion-grid>
  <ion-row>
    <ion-col col-4 *ngFor="let artist of (savedArtists)">
      <div class="artist-item center">

        <ion-avatar (click)="goToArtist(artist.spotify_id)">
            <div class="circle artist-avatar center"
            [ngStyle]="{'background-image':'url('+ artist.img_url +')'}">
            </div>
        </ion-avatar>
        <p>{{artist.name}}</p>
      </div>
    </ion-col>

  </ion-row>
</ion-grid>

<!--h5 class="movsic-title">Saved artists</h5>
<div style="overflow-x: auto;padding-bottom:5px;">
  <div style="width:400px;height:180px;">
	<div class="mgt30">
	  <ion-grid>
		<ion-row>
	      <ion-col col-4>
			<div class="artist-item">
			  <ion-avatar>
				<img class="circle" height="80" width="80" src="assets/imgs/composors/ryuichi.png"/>
			  </ion-avatar>
			  <p>
				Ryuichi Sakamoto
			  </p>
			</div>
		  </ion-col>
		  <ion-col col-4>
			<div class="artist-item center">
		  	  <ion-avatar class="center">
				<img class="circle" height="80" width="80" src="assets/imgs/composors/john.png"/>
			  </ion-avatar>
			  <p>
				John Williams
			  </p>
			</div>
		  </ion-col>
		  <ion-col col-4>
		    <div class="artist-item">
		  	  <ion-avatar>
				<img class="circle" height="80" width="80" src="assets/imgs/composors/vangelis.png"/>
			  </ion-avatar>
			  <p>
			    Vangelis
			  </p>
			</div>
		  </ion-col>
		</ion-row>
	  </ion-grid>
	</div>
  </div>
</div-->
