<ion-header>
	<ion-navbar>
		<ion-title>{{movieInfo.movie_title}}</ion-title>
	</ion-navbar>
	<div class="more-button" (click)="goToReport()"><ion-icon name="more"></ion-icon></div>
</ion-header>


<ion-content padding>
	<ion-thumbnail class="center" style="width:140px;">
      <img src="{{movieInfo.poster_url}}">
	</ion-thumbnail>

	<div class="row composor-list" >
		<div *ngFor = "let composor of movieOST.composors" class="composor-item" (click)="goToArtist(composor.spotify_id)">
			<div class="circle artist-avatar-small center"
						[ngStyle]="{'background-image': 'url('+composor.img_url+')'}">
			</div>
			<p>{{composor.name}}</p>
		</div>
	</div>
	<h5>{{movieInfo.movie_title}}</h5>
	<p>{{movieInfo.plot}}</p>
	<button ion-button (click)="saveAction()" [innerHTML]="saveText"></button>
	<ion-list>
		<button ion-item *ngFor="let song of tracks" (click)="playsong(song.preview_url)">
			{{ song.name }}
		</button>
	</ion-list>

</ion-content>
