search {
  width: 100%;
  padding-bottom: 10px;
  background-color: $toolbar-background;
  position: fixed;
  z-index: 9999;

  .search-drowpdown{
    background: white !important;
    ion-list, ion-item{
      background: white !important;
    }
    position: absolute;
    height: 400px;
    overflow-y: scroll;
    //top: 60px;
    z-index: -1;
    padding-bottom: 40px;
  }
  .search-item{
    width: 100%;
    height: 50px;
    border-radius: 0px;
    background-color: white;
    text-align: left;
    padding: 6px 10px 6px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .search-item__img{
    height: 100%;
    vertical-align: middle;
  }
  .search-item__name{
    width: 250px !important;
    line-height: 2;
    margin-top:auto;
    margin-bottom: auto;
    padding-left: 5px;
    text-overflow: ellipsis;
    //white-space: nowrap;
    overflow: hidden;
    font-size: 1.3em;
    vertical-align: middle;
  }

}

.song-recog-btn{

}

.song-recog-ico{
  font-size: 1.3em;
  vertical-align: middle;
  padding: 0 20px 2px 0px;
  //margin: 5px 10px 5px 20px;
}
.song-recog-btn{
  width: 90%;
  background-color:#F1ECF2;
  border: none;
  color: #555555;
  margin-left: auto;
  margin-right: auto;
  padding:10px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.song-recog-btn:hover{
  background-color: #E51D91;
  color: white;

}
