<!-- Generated template for the MovieCommentComponent component -->
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/comment1.jpg">
    </ion-avatar>
    <p>Tony</p>
    <p>November 17, 2017</p>
  </ion-item>
  <ion-card-content>
    <p style="color:#fff;">
      It is super amazing and exciting to listening itttttttttttttttt!
    </p>
    <div style="float: right;">
      <ion-icon name="clipboard" color="light"></ion-icon>
      <ion-icon name="heart" color="primary" style="margin-left:5px;">22</ion-icon>
    </div>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/comment2.jpg">
    </ion-avatar>
    <p>Jimmy</p>
    <p>November 22, 2017</p>
  </ion-item>
  <ion-card-content>
    <p style="color:#fff;">
      Enjoy to see so many people like it.
    </p>
    <div style="float: right;">
      <ion-icon name="clipboard" color="light"></ion-icon>
      <ion-icon name="heart" color="primary" style="margin-left:5px;">12</ion-icon>
    </div>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/comment3.jpg">
    </ion-avatar>
    <p>Lucy</p>
    <p>November 25, 2017</p>
  </ion-item>
  <ion-card-content>
    <p style="color:#fff;">
      Also excited to see Lee's success in this movie
    </p>
    <div style="float: right;">
      <ion-icon name="clipboard" color="light"></ion-icon>
      <ion-icon name="heart" color="primary" style="margin-left:5px;">8</ion-icon>
    </div>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/comment4.jpg">
    </ion-avatar>
    <p>Justin</p>
    <p>November 15, 2017</p>
  </ion-item>
  <ion-card-content>
    <p style="color:#fff;">
      Purely talent
    </p>
    <div style="float: right;">
      <ion-icon name="clipboard" color="light"></ion-icon>
      <ion-icon name="heart" color="primary" style="margin-left:5px;">3</ion-icon>
    </div>
  </ion-card-content>
</ion-card>
